@import 'variables';

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;

  h3 {
    text-align: center;
    cursor: pointer;
    color: black;
    padding: 20px 0px;
    margin: 0px;

    &.movies-top {
      background-color: rgba(17, 138, 178, 0.3);
    }

    &.foods-top {
      background-color: rgba($color: $foods-color, $alpha: 0.3);
    }

    &.books-top {
      background-color: rgba($color: $books-color, $alpha: 0.3);
    }

    &.products-top {
      background-color: rgba($color: $products-color, $alpha: 0.3);
    }

  }

  .dumbledore {
    width: 22%;
    border-radius: 5px;
    border: 2px solid $color-4;
    background: white;
    margin: 10px;
    box-shadow: 3px 3px rgba($color: $color-2, $alpha: 0.25);

    ul {
      padding:10px;
    }

    li {
      padding: 5px 10px;
      margin: 5px 0px;
      border: 2px solid rgba($color: black, $alpha: 0.4);
      list-style:none;
      color: $color-5;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
      }

      i {
        color: rgba($color: $color-0, $alpha: 1);
        transition:0.3s;
        &:hover {
          color: rgba($color: $color-3, $alpha: 1);
          cursor: pointer;
        }
      }
      &:hover {
        transform: translateY(-3px) translateX(-3px);
      }
    }
  }
  .reminder-header {
    display: flex;
    justify-content: space-between;
  }

  .reminder-footer {
    display: none;
  }

  .select-list {
    width: 60%;
    transition: 0.4s;
    li {
      background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    }


    .reminder-header {
      padding: 15px;
      font-size: 25px;
    }

    .reminder-footer {
      justify-content: space-between;
      align-items: baseline;

      .reminder-footer-image {
        width:75px;
        margin-left: 15px;
      }
    }
  }
}
